# git ignore fle

#ignore everything in Docs
Docs/*
Docs/Figs/*

*junk*

# no fig files
*.fig
*.eps
*.jpg
*.png
# no tex junk
*.bib
*.bbl
*.aux
# no log files
*.log
*.tmp
*.out
*.core

# archives and packages
*.gz
*.tgz
*.tar
*.zip

# libs and object files
*.a
*.o
*.so

# backup files
*.bak
*~

# Other dirs to ignore
runs/
log/
tests/
trash/
tmp/
dump/

# Potential cluster run outputs.
slurm*

/airs/gstats/.html
/cris/rtp/rtp_core.groff
/z_trash/rtpgrow.m
